__Q1. Write a python program to display all the header tags from wikipedia.org.

In [23]:
#Importing library
from bs4 import BeautifulSoup
import requests
response = requests.get("https://en.wikipedia.org/wiki/Main_Page")#alls to holds the data
soup = BeautifulSoup(response.text,'html.parser')

data = soup.find_all(['h1', 'h2','h3'])
for i in data:
    print(i)

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>
<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>
<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>
<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>
<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>
<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>
<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>
<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>
<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>
<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>
<h2>Navigation menu</h2>
<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>
<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>
<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>
<h3>
<label for="searchInput">Search</label>
</h3>
<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>
<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>
<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>
<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>
<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>
<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

__Q2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.

In [90]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def IMDB_Top_100(url):
    page= requests.get(url)
    soup = BeautifulSoup(page.content,"html.parser")
    scrapped_movies = soup.find_all('td',class_='titleColumn')
    movies = []


for movie in scrapped_movies:
        movie = movie.get_text().replace("\n","")
    
        movie = movie.strip()
        movies.append(movie)      
#getrating for movies
scrap_rating = soup.find_all("td",class_ = "ratingColumn imdbRating")
#Parse the rating
ratings = []
for rating in scrap_rating:
        rating = rating.get_text().replace("\n","")
        ratings.append(rating)
        ratings

#Genarating for years
scrap_year = soup.find_all("span",class_ = "secondaryInfo")
scrap_year

years = []
for year in scrap_year:
        year = year.get_text()
        years.append(year)
        years

    #store thes rapped data

data = pd.DataFrame()
data["Movie Names"] = movies[:100]
data["Ratings"]= ratings[:100]
data["years"] = years[:100]

print(data)



#Calling Function    
IMDB_Top_100("https://www.imdb.com/chart/top/")

                                         Movie Names Ratings   years
0             1.      The Shawshank Redemption(1994)     9.2  (1994)
1                        2.      The Godfather(1972)     9.2  (1972)
2                      3.      The Dark Knight(2008)     9.0  (2008)
3                4.      The Godfather Part II(1974)     9.0  (1974)
4                         5.      12 Angry Men(1957)     8.9  (1957)
..                                               ...     ...     ...
95                       96.      Citizen Kane(1941)     8.3  (1941)
96  97.      M - Eine Stadt sucht einen Mörder(1931)     8.3  (1931)
97                 98.      North by Northwest(1959)     8.3  (1959)
98                       99.      Idi i smotri(1985)     8.2  (1985)
99                           100.      Vertigo(1958)     8.2  (1958)

[100 rows x 3 columns]

__Q3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame

In [3]:

#import pandas to create a dataframe
import pandas as pd
from bs4 import BeautifulSoup
import requests

#sending request to webpage server
webpage = requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
soup = BeautifulSoup(page.content)

#creating the empty list for moviename , rating and year_of_release 
movie_name = []
movie_rating = []
movie_releasing_year = []
        

for i in soup.find_all('td', class_ = "titleColumn")[0:100]:
    movie_name.append(i.find('a').get_text().strip())
    movie_releasing_year.append(i.find('span', class_="secondaryInfo").get_text().strip().replace("(","").replace(")",""))
    
for i in soup.find_all('td', class_ = "ratingColumn imdbRating")[0:100]:
    movie_rating.append(i.find("strong").get_text().strip())


df = pd.DataFrame({'Movie Name':movie_name, 'Rating':movie_rating, 'Releasing Date':movie_releasing_year})
df

                     Movie Name Rating Releasing Date
0    Rocketry: The Nambi Effect    8.5           2022
1                    Anbe Sivam    8.4           2003
2                      Jai Bhim    8.4           2021
3                       Nayakan    8.4           1987
4                       Golmaal    8.4           1979
..                          ...    ...            ...
95                  Ustad Hotel    8.0           2012
96   The Legend of Bhagat Singh    8.0           2002
97                    Virumandi    8.0           2004
98  Baahubali 2: The Conclusion    8.0           2017
99                       Angoor    8.0           1982

[100 rows x 3 columns]

__Q4.Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) 
from https://presidentofindia.nic.in/former-presidents.htm

In [12]:
#import pandas to create a dataframe using Observed results
import pandas as pd
import requests

#send get request to webpage server
page = requests.get("https://presidentofindia.nic.in/former-presidents.htm")
soup = BeautifulSoup(page.content)

#initialize the President name and Term of Office list as empty
president_name = []
term_of_office = []

#find all president names found on page
for i in soup.find_all('div', class_ = "presidentListing"):
    president_name.append(i.find('h3').get_text().strip().split("(")[0])
    term_of_office.append(i.find('p').get_text().strip().split(":")[1])
    
#create a datagframe using above lists
df = pd.DataFrame({'President Name':president_name, 'Term of Office':term_of_office})
df

,President Name,Term of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

__Q5. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.

In [ ]:
#import pandas to create a dataframe using Observed results
import pandas as pd

#implementing part (a)----------------top 10 ODI teams-----------------------------------------------------------------------------------

#send get request to webpage server
page = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
soup = BeautifulSoup(page.content)

#initialize the matches, points and ratings list as empty
team = []
matches = []
points = []
ratings = []

#appending top team
team.append(soup.find('td',class_='rankings-block__banner--team-name').get_text().strip().split('\n')[0])
matches.append(soup.find('td',class_='rankings-block__banner--matches').get_text().strip())
points.append(soup.find('td', class_='rankings-block__banner--points').get_text().strip())
ratings.append(soup.find('td',class_='rankings-block__banner--rating u-text-right').get_text().strip())

#appending other top 9 teams on page
for row in soup.find_all('tr', class_ = "table-body")[0:9]:
    col = row.find_all('td')
    team.append(col[1].get_text().strip().split('\n')[0])
    matches.append(col[2].get_text().strip())
    points.append(col[3].get_text().strip())
    ratings.append(col[4].get_text().strip())

    
#create a dataframe using above lists
df_top_10_odi_team_male = pd.DataFrame({'Team':team, 'Matches':matches, 'Points':points, 'Rating':ratings})
print("\nTOP 10 ODI Teams MALE\n")
print(df_top_10_odi_team_male)



#implementing part (b) and (c)----------top 10 ODI batsman and bowlers---------------------------------------------------------------

#send get request to webpage server
page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
soup = BeautifulSoup(page.content)

#initialize the matches, points and ratings list as empty
player_name = []
team_name = []
rating = []

count = 1
#find all similar divisions on page
for i in soup.find_all('div',class_='col-4 col-12-desk touch-scroll-list__element')[0:2]:
    
    #clearing all lists
    player_name.clear()
    team_name.clear()
    rating.clear()
    
    #appending the top player details

    player_name.append(i.find('div', class_='rankings-block__banner--name').get_text().strip())
    team_name.append(i.find('div', class_='rankings-block__banner--nationality').get_text().strip().split('\n')[0])
    rating.append(i.find('div',class_='rankings-block__banner--rating').get_text().strip())
    
    #appending other top 9 players 
    for row in i.find_all('tr', class_ = "table-body")[0:9]:
        col = row.find_all('td')
        player_name.append(col[1].get_text().strip().split('\n')[0])
        team_name.append(col[2].find('span',class_='table-body__logo-text').get_text().strip())
        rating.append(col[3].get_text().strip())


    #create a dataframe using above lists
    df_top_10_odi_male_player = pd.DataFrame({'Player':player_name, 'Team':team_name, 'Rating':rating})
    
    if(count == 1):
        print("\nTOP 10 ODI Male Batsmen\n")
        print(df_top_10_odi_male_player)
    else:
        print("\nTOP 10 ODI Male Bowlers\n")
        print(df_top_10_odi_male_player)
        
    count = count + 1

__Q6. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [18]:
#import pandas to create a dataframe using Observed results
import pandas as pd

#implementing part (a)----------------top 10 ODI teams women-----------------------------------------------------------------------------------

#send get request to webpage server
page = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
soup = BeautifulSoup(page.content)

#initialize the matches, points and ratings list as empty
team = []
matches = []
points = []
ratings = []

#appending top team
team.append(soup.find('td',class_='rankings-block__banner--team-name').get_text().strip().split('\n')[0])
matches.append(soup.find('td',class_='rankings-block__banner--matches').get_text().strip())
points.append(soup.find('td', class_='rankings-block__banner--points').get_text().strip())
ratings.append(soup.find('td',class_='rankings-block__banner--rating u-text-right').get_text().strip())

#appending other top 9 teams on page
for row in soup.find_all('tr', class_ = "table-body")[0:9]:
    col = row.find_all('td')
    team.append(col[1].get_text().strip().split('\n')[0])
    matches.append(col[2].get_text().strip())
    points.append(col[3].get_text().strip())
    ratings.append(col[4].get_text().strip())

    
#create a dataframe using above lists
df_top_10_odi_team_female = pd.DataFrame({'Team':team, 'Matches':matches, 'Points':points, 'Rating':ratings})
print("\nTOP 10 ODI Teams Women\n")
print(df_top_10_odi_team_female)



#implementing part (b) and (c)----------top 10 ODI batsman and all-rounders---------------------------------------------------------------

#send get request to webpage server
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
soup = BeautifulSoup(page.content)

#initialize the matches, points and ratings list as empty
player_name = []
team_name = []
rating = []

#find all similar divisions on page
count = 1
for i in soup.find_all('div',class_='col-4 col-12-desk uniform-grid__section touch-scroll-list__element')[0:3]:
    if(count == 2):
        count = count + 1
        continue
    #flushing all lists
    player_name.clear()
    team_name.clear()
    rating.clear()
    
    #appending the top player details

    player_name.append(i.find('div', class_='rankings-block__banner--name').get_text().strip())
    team_name.append(i.find('div', class_='rankings-block__banner--nationality').get_text().strip().split('\n')[0])
    rating.append(i.find('div',class_='rankings-block__banner--rating').get_text().strip())
    
    #appending other top 9 players 
    for row in i.find_all('tr', class_ = "table-body")[0:9]:
        col = row.find_all('td')
        player_name.append(col[1].get_text().strip().split('\n')[0])
        team_name.append(col[2].find('span',class_='table-body__logo-text').get_text().strip())
        rating.append(col[3].get_text().strip())


    #create a dataframe using above lists
    df_top_10_odi_female_player = pd.DataFrame({'Player':player_name, 'Team':team_name, 'Rating':rating})
    
    if(count == 1):
        print("\nTOP 10 ODI Women Batsmen\n")
        print(df_top_10_odi_female_player)
    else:
        print("\nTOP 10 ODI Women All-Rounders\n")
        print(df_top_10_odi_female_player)
        
    count = count + 1

TOP 10 ODI Teams Women

           Team Matches Points Rating
0     Australia      29  4,837    167
1  South Africa      35  4,157    119
2       England      36  4,205    117
3         India      35  3,732    107
4   New Zealand      33  3,302    100
5   West Indies      32  2,864     90
6    Bangladesh      12    930     78
7      Pakistan      30  1,962     65
8       Ireland      11    516     47
9     Sri Lanka      11    495     45

TOP 10 ODI Women Batsmen

                Player Team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2       Natalie Sciver  ENG    740
3      Laura Wolvaardt   SA    732
4          Meg Lanning  AUS    710
5       Rachael Haynes  AUS    701
6      Smriti Mandhana  IND    698
7    Amy Satterthwaite   NZ    681
8     Harmanpreet Kaur  IND    662
9  Chamari Athapaththu   SL    655

TOP 10 ODI Women All-Rounders

              Player Team Rating
0       Ellyse Perry  AUS    374
1     Natalie Sciver  ENG    372
2     Marizanne Kapp   SA    349
3    Hayley Matthews   WI    339
4        Amelia Kerr   NZ    336
5      Deepti Sharma  IND    271
6   Ashleigh Gardner  AUS    270
7      Jess Jonassen  AUS    246
8     Jhulan Goswami  IND    219
9  Sophie Ecclestone  ENG    217

__Q7.Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
i) Headline
ii) Time
iii) News Link

In [19]:
#send get request to webpage server
page = requests.get("https://www.cnbc.com/world/?region=world")
soup = BeautifulSoup(page.content)

#initialize list for headline, time and news link as empty
headline = []
time = []
news_link = []

#loop in to collect data
for i in soup.find_all('li',class_='LatestNews-item'):
    headline.append(i.find('a',class_='LatestNews-headline').get_text().strip())
    news_link.append(i.find('a', class_='LatestNews-headline', href=True).get('href'))
    time.append(i.find('time',class_='LatestNews-timestamp').get_text().strip())

#create a dataframe
df = pd.DataFrame({'Headline':headline, 'Time':time, 'URL':news_link})
df

,Headline,Time,URL
0,Zelenskyy on Putin's threat of nuclear weapons...,38 Min Ago,https://www.cnbc.com/2022/09/25/zelenskyy-on-p...
1,These are the top 10 best family-friendly U.S....,44 Min Ago,https://www.cnbc.com/2022/09/25/opendoor-surve...
2,The 3 biggest signs of 'passive aggressive' an...,1 Hour Ago,https://www.cnbc.com/2022/09/25/the-3-biggest-...
3,"What Kroger, Walmart, Target learned from Chin...",2 Hours Ago,https://www.cnbc.com/2022/09/25/what-kroger-wa...
4,How this 31-year-old got fired and re-hired at...,2 Hours Ago,https://www.cnbc.com/2022/09/25/this-millennia...
5,These stable value stocks are holding up this ...,2 Hours Ago,https://www.cnbc.com/2022/09/25/these-stable-v...
6,Market rout has muni bonds looking attractive....,2 Hours Ago,https://www.cnbc.com/2022/09/25/market-rout-ha...
7,These are the 6 best business books of the year,3 Hours Ago,https://www.cnbc.com/2022/09/25/the-6-best-bus...
8,Meet the most powerful Hollywood player you mi...,3 Hours Ago,https://www.cnbc.com/2022/09/25/bryan-lourd-ho...
9,Pumpkin spice latte popularity comes down to '...,3 Hours Ago,https://www.cnbc.com/2022/09/25/what-pumpkin-s...
10,Why Mark Cuban says he’s not ready to retire a...,3 Hours Ago,https://www.cnbc.com/2022/09/25/mark-cuban-say...
11,Italy poised for hard-right leader as country ...,9 Hours Ago,https://www.cnbc.com/2022/09/25/italy-poised-f...
12,"3 rules for a successful open relationship, ac...",22 Hours Ago,https://www.cnbc.com/2022/09/24/three-rules-fo...
13,Biden administration awards $1.5 billion to fi...,23 Hours Ago,https://www.cnbc.com/2022/09/24/biden-administ...
14,Top 10 cities with the best pizzerias worldwid...,24 Hours Ago,https://www.cnbc.com/2022/09/24/top-10-cities-...
15,Black Girls in Trader Joe’s creator shares her...,"September 24, 2022",https://www.cnbc.com/2022/09/24/easy-meals-for...
16,"Want to raise strong, resilient kids? Create '...","September 24, 2022",https://www.cnbc.com/2022/09/24/how-to-raise-r...
17,The airline race for a breakthrough climate ch...,"September 24, 2022",https://www.cnbc.com/2022/09/24/how-airlines-p...
18,'Queer Eye's Karamo Brown on the morning routi...,"September 24, 2022",https://www.cnbc.com/2022/09/24/queer-eyes-kar...
19,These 7 states have the least air pollution in...,"September 24, 2022",https://www.cnbc.com/2022/09/24/vermont-new-me...
20,New York is now No. 1 port in a tipping point ...,"September 24, 2022",https://www.cnbc.com/2022/09/24/new-york-now-n...
21,Analysts have 'high conviction' that these sto...,"September 24, 2022",https://www.cnbc.com/2022/09/24/analysts-name-...
22,Feared stock market bottom retest is now underway,"September 24, 2022",https://www.cnbc.com/2022/09/24/feared-stock-m...
23,The No. 1 best city to retire isn't in Florida...,"September 24, 2022",https://www.cnbc.com/2022/09/24/wallethub-top-...
24,The perils and promise of quantum computing ar...,"September 24, 2022",https://www.cnbc.com/2022/09/24/quantum-invest...
25,Everything parents need to know about student ...,"September 24, 2022",https://www.cnbc.com/2022/09/24/what-parent-pl...
26,"Check in, smoke up and tune out: Cannabis-frie...","September 24, 2022",https://www.cnbc.com/2022/09/24/check-in-smoke...
27,Convertibles drive into the sunset as automake...,"September 24, 2022",https://www.cnbc.com/2022/09/24/convertible-sa...
28,Britain's lurch toward 'Reaganomics' gets a th...,"September 24, 2022",https://www.cnbc.com/2022/09/24/liz-truss-brit...
29,Here's our plan for Monday after another painf...,"September 23, 2022",https://www.cnbc.com/2022/09/23/it-was-another...

__Q8.Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details :
i) Paper Title 
ii) Authors
iii) Published Date 
iv) Paper URL

In [20]:
#send get request to webpage server
page = requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
soup = BeautifulSoup(page.content)

#initialize list as empty
title = []
authors = []
publish_date = []
paper_url = []

#loop in to collect data
for i in soup.find_all('li',class_='sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp'):
    title.append(i.find('h2',class_='sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR').get_text().strip())
    authors.append(i.find('span',class_='sc-1w3fpd7-0 pgLAT').get_text().strip())
    paper_url.append(i.find('a', class_='sc-5smygv-0 nrDZj', href=True).get('href'))
    publish_date.append(i.find('span',class_='sc-1thf9ly-2 bKddwo').get_text().strip())

#create a dataframe
df = pd.DataFrame({'Paper Title':title, 'Authors':authors, 'Publish Date':publish_date, 'Paper URL':paper_url})
df

,Paper Title,Authors,Publish Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

__Q9. Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location 
iv) Ratings
v) Image URL

In [21]:
#send get request to webpage server
page = requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
soup = BeautifulSoup(page.content)

#initialize list as empty
restaurant_name = []
cuisine = []
location = []
rating = []
image_url = []

#loop in to collect data
for i in soup.find_all('div',class_='restnt-main-wrap clearfix'):
    restaurant_name.append(i.find('a',class_='restnt-name ellipsis').get_text().strip())
    cuisine.append(i.find('span',class_='double-line-ellipsis').get_text().strip().split('|')[1])
    rating.append(i.find('div',class_='restnt-rating rating-4').get_text().strip())
    location.append(i.find('div',class_='restnt-loc ellipsis').get_text().strip())
    image_url.append(i.find('img', class_='no-img')['data-src'])
                     
#create a dataframe
df = pd.DataFrame({'Restaurant Name':restaurant_name, 'Cusines':cuisine, 'Location':location, 'Rating':rating, 'Img URL':image_url})
df

,Restaurant Name,Cusines,Location,Rating,Img URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

__Q10 Write a python program to scrape the details of top publications from Google Scholar from 
https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank 
ii) Publication
iii) h5-index
 iv) h5-media

In [22]:
#send get request to webpage server
page = requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")
soup = BeautifulSoup(page.content)

#initialize list as empty
rank = []
publication = []
h5_index = []
h5_median = []

table = soup.find('table',class_="gsc_mp_table")

count = 1

#loop in to collect data
for rows in table.find_all('tr'):
    if (count == 1):
        count = count + 1
        continue
    col = rows.find_all('td')
    rank.append(col[0].get_text().strip().replace('.',''))
    publication.append(col[1].get_text().strip())
    h5_index.append(col[2].get_text().strip())
    h5_median.append(col[3].get_text().strip())

                     
#create a dataframe
df = pd.DataFrame({'Rank':rank, 'Publication':publication, 'h5-index':h5_index, 'h5-median':h5_median})
df

   Rank                                        Publication h5-index h5-median
0     1                                             Nature      444       667
1     2                The New England Journal of Medicine      432       780
2     3                                            Science      401       614
3     4  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5                                         The Lancet      354       635
..  ...                                                ...      ...       ...
95   96                       Journal of Business Research      145       233
96   97                                   Molecular Cancer      145       209
97   98                                            Sensors      145       201
98   99                              Nature Climate Change      144       228
99  100                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]