Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [20]:

from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import pandas as pd

In [21]:
#Lets first connect to the driver
driver = webdriver.Chrome(r"C:\Users\hp\chromedriver.exe")

In [22]:
#Lets first connect to the driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [23]:
#Opening the Naukari webpage on chrome automated browser
driver.get("https://www.naukri.com/")

In [24]:
#Entering the location and designation as required in the question
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys("Data Analyst")

In [25]:
#Getting the location details
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [26]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [27]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [28]:

title_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

location_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
experience_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience_tags[0:10]:
    exp = i.text
    experience_required.append(exp)

In [29]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [30]:
#creating data frame from above data"
df = pd.DataFrame({"job_title":job_title,"job_location":job_location,"Company_name":company_name,"experience_required":experience_required})
df

,job_title,job_location,Company_name,experience_required
0,Latentview,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs
1,"Coresight Research, Inc.","Bangalore/Bengaluru, Mangaluru/Mangalore, Pune...","Coresight Research, Inc.",4-8 Yrs
2,Varite,Bangalore/Bengaluru,Varite,2-5 Yrs
3,Artech infosystem,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
4,Jar,Bangalore/Bengaluru,Jar,0-4 Yrs
5,Cognizant,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
6,Cognizant,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs
7,Arrow Electronics,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
8,Arrow Electronics,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
9,Accenture,Bangalore/Bengaluru,Accenture,6-8 Yrs

#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 

You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manuall

In [ ]:
#Importing Lbrary

In [32]:
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import pandas as pd

In [33]:
#Lets first connect to the driver
driver = webdriver.Chrome(r"C:\Users\hp\chromedriver.exe")

In [34]:
#Lets first connect to the driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [35]:
#Opening the Naukari webpage on chrome automated browser
driver.get("https://www.naukri.com/")

In [36]:
#Entering the location and designation as required in the question
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys("Data Scientist")

In [37]:
#Getting the location details
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [38]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [39]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [40]:

title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

location_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
experience_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience_tags[0:10]:
    exp = i.text
    experience_required.append(exp)

In [41]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [42]:
df = pd.DataFrame({"job_title":job_title,"job_location":job_location,"Companhy_name":company_name,"experience_required":experience_required})

In [43]:
df

,job_title,job_location,Companhy_name,experience_required
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,4-7 Yrs
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis,9-14 Yrs
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
4,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates,5-8 Yrs
5,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra,10-14 Yrs
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group,5-10 Yrs
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,4-8 Yrs
8,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart,3-7 Yrs
9,Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Wipro,8-13 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage as shown below
    You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [63]:
#Importing Library
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import pandas as pd

In [64]:
driver = webdriver.Chrome(r"C:\Users\hp\chromedriver.exe")

In [66]:
#Lets first connect to the driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [67]:
#Opening the Naukari webpage on chrome automated browser
driver.get("https://www.naukri.com/")

In [68]:
#Entering the location and designation as required in the question
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys("Data Scientist")

In [69]:
#Getting the location details
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Delhi/NCR")

In [70]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [71]:
# finding the salary check box
loc=driver.find_element(By.XPATH,"//span[@title='3-6 Lakhs']")

# clicking the check box
loc.click()

In [72]:
job_title = []
job_location = []
company_name = []
exp_req = []

In [73]:
job_title_tag  = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in job_title_tag[0:10]:
    job = i.text
    job_title.append(job)

job_locations = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in job_locations[0:10]:
    location = i.text
    job_location.append(location)


company_name_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in company_name_tag[0:10]:
    company = i.text
    company_name.append(company)
    
    
experience_required = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience_required[0:10]:
    exp = i.text
    exp_req.append(exp)

In [74]:
print(len(job_title),len(job_location),len(company_name),len(exp_req))

10 10 10 10

In [75]:
df = pd.DataFrame({"job_title":job_title,"job_location":job_location,"company_name":company_name,"exp_req":exp_req})

In [58]:
df

,job_title,job_location,company_name,exp_req
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,Module Lead - BIDW,Bangalore/Bengaluru,Mphasis,5-8 Yrs
2,Data Scientist/AIML Engineer,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",upGrad,0-2 Yrs
3,Geospatial Data Engineer/Scientist,Bangalore/Bengaluru,Louis Dreyfus Commodities,5-10 Yrs
4,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture,4-6 Yrs
5,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
6,Scientific Computing (Proactive SO),Bangalore/Bengaluru,CGI,3-7 Yrs
7,Data Scientist,Bangalore/Bengaluru,Infosys,2-7 Yrs
8,Data Scientist,Bangalore/Bengaluru,Infosys,2-7 Yrs
9,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual

In [76]:
import selenium
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
import pandas as pd
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [78]:
driver = selenium.webdriver.Chrome(r"C:\Users\hp\chromedriver.exe")#connect to the driver
driver.get('https://www.flipkart.com/')##Opening the Flipcart webpage on chrome automated browser
button1 = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, '//button[@class=\"_2KpZ6l _2doB4z\"]')))
button1.click()

In [79]:
#locating the search bar
search_bar=driver.find_element(By.CLASS_NAME,"_3704LK")
search_bar.clear()
search_bar.send_keys('sunglasses')

In [170]:
#locating the button and clicking it toh search for sunglasses
button=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
button.click()

In [171]:
brand= []
description = []
price = []

In [172]:
brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')  #scraping brands name by xpath
for i in brands:
    brand.append(i.text)#appending the text in Brand list

In [173]:
desc=driver.find_elements(By.CLASS_NAME,'IRpwTa')#scraping description by class name
for i in desc:
    description.append(i.text)#appending the description in list

In [174]:
prices=driver.find_elements(By.CLASS_NAME,"_30jeq3")[:40]# scraping the price from the xpath
for i in prices:
    price.append(i.text)

In [175]:
print(len(brand), len(description), len(price))

40 40 40

In [178]:
#locating the button and clicking it toh search for sunglasses
loc=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
loc.click()

In [179]:
brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')  #scraping brands name by xpath
for i in brands:
    brand.append(i.text)#appending the text in Brand list

In [180]:
desc=driver.find_elements(By.CLASS_NAME,'IRpwTa')#scraping description by class name
for i in desc:
    description.append(i.text)#appending the description in list

In [181]:
prices=driver.find_elements(By.CLASS_NAME,"_30jeq3")[:40]# scraping the price from the xpath
for i in prices:
    price.append(i.text)

In [182]:
print(len(brand), len(description), len(price))

80 80 80

In [186]:
#Locating the next button
loc2=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
loc2.click()

In [187]:
brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')  #scraping brands name by xpath
for i in brands:
    brand.append(i.text)#appending the text in Brand list
    
    
desc=driver.find_elements(By.CLASS_NAME,'IRpwTa')#scraping description by class name
for i in desc:
    description.append(i.text)#appending the description in list
    
    
prices=driver.find_elements(By.CLASS_NAME,"_30jeq3")[:40]# scraping the price from the xpath
for i in prices:
    price.append(i.text)

In [188]:
print(len(brand), len(description), len(price))

120 120 120

In [189]:
#creating a dataframe
df=pd.DataFrame({'Brand':brand[:100],'Description':description[:100],'Price':price[:100]})
df

             Brand                                        Description Price
0   ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...  ₹349
1        ROYAL SON     UV Protection, Polarized Round Sunglasses (54)  ₹538
2         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹799
3          DEIXELS  Polarized, UV Protection, Riding Glasses Wayfa...  ₹249
4            NuVew              UV Protection Aviator Sunglasses (57)  ₹198
..             ...                                                ...   ...
95       ROYAL SON   UV Protection, Polarized Aviator Sunglasses (60)  ₹561
96        Fastrack        UV Protection Shield Sunglasses (Free Size)  ₹719
97      PHENOMENAL  UV Protection, Mirrored Retro Square Sunglasse...  ₹369
98   VINCENT CHASE  by Lenskart Polarized, UV Protection Round Sun...  ₹799
99       ROYAL SON    Polarized, UV Protection Sports Sunglasses (68)  ₹974

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button

In [190]:
# Loading Chrome Driver
driver = selenium.webdriver.Chrome(r"C:\Users\hp\chromedriver.exe")
# opening web address in chrome driver browser to access html, css information
driver.get('https://www.flipkart.com/')
button1 = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, '//button[@class=\"_2KpZ6l _2doB4z\"]')))
button1.click()

In [191]:
# finding search bar with the help of Class name
search_bar = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.CLASS_NAME, '_3704LK')))
search_bar.send_keys('iphone 11')  # giving iphone11 as arguement in search bar 
search_bar.send_keys(Keys.RETURN)

In [192]:
# opening iphone 11 from results
phone = WebDriverWait(driver, 3).until(EC.presence_of_element_located((By.XPATH, '//a[@class="_1fQZEK"]')))
a = phone.get_attribute('href') # opening in same address, as flipkart opens new tab when clicked on link 
driver.get(a)

In [193]:
# Clicking on all review to view all reviews for iphone 11
all_review = driver.find_element(By.XPATH, '//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div')
all_review.click()

In [194]:
# Creating empty lists
rating = []
review_title = []
review_description = []
# appending page no. links in list to iterate over to get 100 results
links = driver.find_elements(By.XPATH, '//a[@class="ge-49M"]')
link = []

In [195]:
for _ in links:
    link.append(_.get_attribute('href'))
# For first page, extracting review title
review_title_element = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for _ in review_title_element:
    a = _.text
    review_title.append(a)
# For first page, extracting review description
review_description_element = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for _ in review_description_element:
    a = _.text
    review_description.append(a)
# For first page, extracting review rating
ratings_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for _ in ratings_element:
    a = _.text
    rating.append(a)

In [196]:
for i in link:
    
    driver.get(i)  # opening extracted href, i.e. moving to next page
    driver.implicitly_wait(5)  # wait for some time to allow page to load
    
        
    review_title_element = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')  # Extracting review title and appending
    for _ in review_title_element:
        a = _.text
        review_title.append(a)
        
    review_description_element = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')  # Extracting review description and appending
    for _ in review_description_element:
        a = _.text
        review_description.append(a)
        
    ratings_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')  # Extracting review rating and appending
    for _ in ratings_element:
        a = _.text
        rating.append(a)
        
        
    links = driver.find_elements(By.XPATH, '//a[@class="ge-49M"]')  # Finding additional page no. links in bottom nav bar 
    
    # Appending new links, checking if not present
    for _ in links:  
        linka = _.get_attribute('href')
        if linka not in link:
            link.append(_.get_attribute('href'))
            
    if len(link) == 10:
        break

In [197]:
# Creating data frame for saving/processing scrapped data

df = pd.DataFrame()

df['rating'] = rating[:100]
df['review_title'] = review_title[:100]
df['review_description'] = review_description[:100]

df

,rating,review_title,review_description
0,5,Simply awesome,Really satisfied with the Product I received.....
1,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
5,5,Highly recommended,What a camera .....just awesome ..you can feel...
6,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
7,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
8,5,Fabulous!,This is my first iOS phone. I am very happy wi...
9,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [199]:
# Loading Chrome Driver
driver = selenium.webdriver.Chrome(r"C:\Users\hp\chromedriver.exe")

# opening web address in chrome driver browser to access html, css information
driver.get('https://www.flipkart.com/')
button1 = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, '//button[@class=\"_2KpZ6l _2doB4z\"]')))
button1.click()

In [210]:
# Searching "sneakers" in web page
search_bar = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.CLASS_NAME, '_3704LK')))
search_bar.send_keys('sneakers')
search_bar.send_keys(Keys.RETURN)

In [211]:
brand_names = []
sneakers_names = []
sneakers_price = []

In [224]:
# First Page -------------------------------------------------------------------------------------
brand_names_element = driver.find_elements(By.XPATH, '//div[@class=\"_2WkVRV\"]')
for i in brand_names_element[0:100]:  # finding brand_names and appending in brand names
    text = i.text
    sneakers_names.append(text)
    
    
sneakers_names_element = driver.find_elements(By.XPATH, '//a[@class=\"IRpwTa\"]')
for i in sneakers_names_element[0:100]:  # finding sneakers_names and appending in sneaker names
    text = i.text
    sneakers_names.append(text)
    
    
price_element = driver.find_elements(By.XPATH, '//div[@class=\"_30jeq3\"]')
for i in price_element[0:100]:  # finding price and appending in sneakers_price
    text = i.text
    sneakers_price.append(text)

In [ ]:
next_page = driver.find_element(By.XPATH, '//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_page.click()

In [221]:
# Second Page -------------------------------------------------------------------------------------
brand_names_element = driver.find_elements(By.XPATH, '//div[@class=\"_2WkVRV\"]')
for i in brand_names_element[0:100]:  # finding brand_names and appending in brand Names
    text = i.text
    brand_names.append(text)
    
    
sneakers_names_element = driver.find_elements(By.XPATH, '//a[@class=\"IRpwTa\"]')
for i in sneakers_names_element[0:100]:  # finding sneakers_names and appending in sneaker names
    text = i.text
    sneakers_names.append(text)
    
    
price_element = driver.find_elements(By.XPATH, '//div[@class=\"_30jeq3\"]')
for i in price_element[0:100]:  # finding price and appending in sneakers_price
    text = i.text
    sneakers_price.append(text)

In [222]:
# Creating data frame for saving/processing scrapped data

df = pd.DataFrame()
df['Brand'] = brand_names[:100]
df['Product Description'] = sneakers_names[:100]
df["Price"] = sneakers_price[:100]

df

           Brand                     Product Description   Price
0       Neeman's                                  BRUTON    ₹470
1         BRUTON                                  Labbin    ₹499
2   K- FOOTLANCE                                  BRUTON    ₹259
3         Shozie                                RED TAPE  ₹1,499
4         Kzaara                     World Wear Footwear    ₹298
..           ...                                     ...     ...
95        DUCATI  2 Combo Sneaker Shoes Sneakers For Men  ₹1,249
96        BRUTON                        Sneakers For Men    ₹599
97        BRUTON             ARCADE 3.0 Sneakers For Men    ₹636
98          aadi  2 Combo Sneaker Shoes Sneakers For Men    ₹399
99      Skechers                        Sneakers For Men  ₹4,549

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image

In [227]:
# Loading Chrome Driver
driver = selenium.webdriver.Chrome(r"C:\Users\hp\chromedriver.exe")

# opening web address in chrome driver browser to access html, css information
driver.get('https://www.amazon.in/')

In [228]:
product = driver.find_element(By.ID, "twotabsearchtextbox")  # Finding element with the help ID
product.send_keys('Laptop')  # Passing "Laptop" as an search keyword
product.send_keys(Keys.RETURN)  # Pressing enter to load results

In [229]:
# Finding "i7 processor" from Radio boxex and clicking it with the help of XPATH
processor = driver.find_element(By.XPATH, '//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
processor.click()

In [230]:
# Creating Empty lists, so we can append required data in specific list
title = []
rating = []
price = []

In [231]:
# Extracting laptop names
laptop_name_element = driver.find_elements(By.XPATH, '//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
for laptop in laptop_name_element[:10]:  # Looping for first 10 lapotps
    i = laptop.text
    title.append(i)

In [232]:
# find a ratings box
ratings_box = driver.find_elements(By.XPATH, '//div[@class="a-row a-size-small"]/span')
for i in range(0, 20):  # With rating, we are extracting total ratings which is not required
    ratings = ratings_box[i].get_attribute('aria-label')
    # It works, so not touching it is good choice, in future update i will update, or i can pass pass, for future use
    if len(ratings) > 10:
        if len(rating) == 10:
            break
        else:
            rating.append(ratings)

In [233]:
# finding elements with price information and extracting prices
price_element = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for _ in price_element[:10]:
    i = _.text 
    price.append(i)  # Appending prices in lists
# Creating data frame to extract/process scrapped information
df = pd.DataFrame()
df['Title'] = title
df['Rating'] = rating
df['Price'] = price

df

,Title,Rating,Price
0,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",3.8 out of 5 stars,"77,990"
1,"Fujitsu UH-X 11th Gen Intel Core i7 13.3"" FHD ...",4.2 out of 5 stars,"1,00,000"
2,"ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...",4.3 out of 5 stars,"93,290"
3,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,4.2 out of 5 stars,"80,990"
4,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",3.8 out of 5 stars,"77,990"
5,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,4.5 out of 5 stars,"79,990"
6,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",4.2 out of 5 stars,"86,990"
7,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,4.3 out of 5 stars,"77,990"
8,Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...,4.4 out of 5 stars,"1,11,000"
9,Fujitsu UH-X 12th Gen Intel Evo Core i7 13.3 i...,2.9 out of 5 stars,"99,990"

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image.
ASSIGNMENT 2

In [234]:
# Loading Chrome Driver
driver = selenium.webdriver.Chrome(r"C:\Users\hp\chromedriver.exe")

# opening web address in chrome driver browser to access html, css information
driver.get('https://www.myntra.com/shoes')

In [235]:
# Finding price element with the help of XPATH, and clicking check box 
price = driver.find_element(By.XPATH, '//*[@id="mountRoot"]/div/div[1]/main/div/div[1]/section/div/div[5]/ul/li[2]')
price.click()

In [236]:
# Finding color element with the help of XPATH, and clicking check box for black color
color = driver.find_element(By.XPATH, '//*[@id="mountRoot"]/div/div[1]/main/div/div[1]/section/div/div[6]/ul/li[1]')
color.click()

In [237]:
#creating the empty list
brand=[]
description=[]
price=[]

In [238]:

brands=driver.find_elements(By.CLASS_NAME, 'product-brand') # scraping brands name by class name='product-brand'
for i in brands:
    brand.append(i.text)  # appending the company/brand in Brand list
   
desc = driver.find_elements(By.CLASS_NAME, 'product-product') # scraping description by class name = 'product-product'
for i in desc:
    description.append(i.text)  # appending the description in list

prices=driver.find_elements(By.XPATH, '//div[@class="product-price"]') # scraping the price from the xpath
for i in prices:
    price.append(i.text)  # appending the price in price list

In [239]:
# Going to next page to access more web elements
nxt_button=driver.find_element(By.XPATH, '//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[12]/a')#scraping the list of buttons from the page
nxt_button.click()

In [240]:

brands=driver.find_elements(By.CLASS_NAME, 'product-brand')  # scraping brands name by class name='product-brand'
for i in brands:
    brand.append(i.text) # appending the company/brand in Brand list
    
desc=driver.find_elements(By.CLASS_NAME, 'product-product') # scraping description by class name = 'product-product'
for i in desc:
    description.append(i.text)  # appending the description in list

prices=driver.find_elements(By.XPATH, '//div[@class="product-price"]') # scraping the price from the xpath
for i in prices:
    price.append(i.text)  # appending the price in price list

In [243]:
df = pd.DataFrame()
df['Brand'] = brand
df['Description'] = description
df['Price | Actual Price | Discount'] = price

In [244]:
df

,Brand,Description,Price | Actual Price | Discount
0,ADIDAS,Men Response Super 3.0 Run,Rs. 8999
1,UNDER ARMOUR,Men HOVR SonicSE Running Shoes,Rs. 8499Rs. 9999(15% OFF)
2,ADIDAS,Men 4DFWD_Pulse Running Shoes,Rs. 8799Rs. 15999( 45 % OFF)
3,Skechers,Men ENIGMA Running Shoes,Rs. 6649Rs. 9499(30% OFF)
4,UNDER ARMOUR,Men ChargedEscape 3 BL Running,Rs. 7199Rs. 8999(20% OFF)
...,...,...,...
95,ALDO,Men Sneakers,Rs. 10999
96,ALDO,Textured Block Sandals,Rs. 7999
97,fitflop,Embellished PU Comfort Pumps,Rs. 7499
98,UNDER ARMOUR,W omen TriBase Reign 4 Running,Rs. 8399Rs. 11999(30% OFF)
99,Skechers,Men MAX ELITE Running Shoes,Rs. 8999

Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [245]:
# Loading Chrome Driver
driver = selenium.webdriver.Chrome(r"C:\Users\hp\chromedriver.exe")


# opening web address in chrome driver browser to access html, css information
driver.get('https://www.ambitionbox.com/')

# Accessing nav bar element with the help of XPATH, and clicking on it to access drop down list
salary = driver.find_element(By.XPATH, '//*[@id="ambitionbox-header"]/nav/ul/li[3]/span')
salary.click()

# Incase website takes more time load, giving time to load elements, to avoid no such element error 
driver.implicitly_wait(5)

# Accessing "Browse salaries" href, with the help of LINK TEXT name space
second_click = driver.find_element(By.LINK_TEXT, 'Browse salaries')
second_click.click()

In [246]:
# Extracting all elements with Relative XPATH
elements = driver.find_elements(By.XPATH, '//div[@class="result-row"]')

In [247]:
# Creating empty list to store companies information
companies = []

# looping through company names, and appending text to companies list
for i in elements:
    temp = i.find_elements(By.TAG_NAME, 'a')
    for i in temp:
        companies.append(i.text[:-22])  # Removing "Data Scientist Salary" from string

In [248]:
experiance = []  # Creating empty list to store experiance required information

# looping through elements, and appending experiance required to list
for i in elements:
    temp = i.find_elements(By.CLASS_NAME, 'sbold-list-header')
    for i in temp:
        experiance.append(i.text)
        
totaL_salary_record = []  # salary based on no. of feedbacks
final_experiance = []  # Actual salary

# looping through elements, and appending salary and total records processed
for i in range(0, len(experiance)):
    a = experiance[i].split(' (')
    final_experiance.append(a[0])
    totaL_salary_record.append(a[1])

In [249]:
# Finding average salary
avg_elements = driver.find_elements(By.XPATH, '//p[@class="averageCtc"]')
average_sal = []
for i in avg_elements:
    average_sal.append(i.text)

In [250]:
min_max_elements = driver.find_elements(By.XPATH, '//div[@class="salary-values"]')
min_max = []
for i in min_max_elements:
    min_max.append(i.text)

In [251]:
# Creating empty list to store salaries
mina = []  # For storing minimum salary
maxa = []  # For storing maximum salary

In [252]:
for i in min_max:
    a = i.split('\n')
    # print(a)
    mina.append(a[0])  # Appending minimum salary
    maxa.append(a[1])  # Appending maximum salary

In [253]:
# Creating data frame to store/process information scrapped from website
df = pd.DataFrame()

# Creating columns
df['Companies'] = companies
df["Salary"] = totaL_salary_record
df["Experiance"] = final_experiance
df["Min Salary"] = mina
df["Avg Salary"] = average_sal
df["Max Salary"] = maxa

In [254]:
df

,Companies,Salary,Experiance,Min Salary,Avg Salary,Max Salary
0,Google\nSo,based on 63 salaries),1-4 yrs experience,₹ 12.7L,₹ 34.9L,₹ 97.0L
1,Microsoft Corporation\nSo,based on 344 salaries),1-4 yrs experience,₹ 13.2L,₹ 23.9L,₹ 50.0L
2,Goldman Sachs\nSo,based on 37 salaries),1-2 yrs experience,₹ 12.0L,₹ 22.7L,₹ 34.0L
3,Arista Networks\nSo,based on 52 salaries),1-4 yrs experience,₹ 5.0L,₹ 22.1L,₹ 38.0L
4,Tekion\nSo,based on 52 salaries),2-4 yrs experience,₹ 11.7L,₹ 21.9L,₹ 38.0L
5,Amazon\nSo,based on 147 salaries),1-4 yrs experience,₹ 8.7L,₹ 21.2L,₹ 45.0L
6,Servicenow Software Development India\nSo,based on 82 salaries),2-4 yrs experience,₹ 14.0L,₹ 21.1L,₹ 32.0L
7,Walmart\nSo,based on 112 salaries),1-4 yrs experience,₹ 12.0L,₹ 20.3L,₹ 32.5L
8,PayPal\nSo,based on 31 salaries),1-2 yrs experience,₹ 12.0L,₹ 19.9L,₹ 31.0L
9,Arcesium\nSo,based on 71 salaries),1-2 yrs experience,₹ 12.0L,₹ 19.4L,₹ 34.0L